@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}
body{
    position: relative;
    background-image: url(./images/image1.png);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav-bar{
    display: flex;
    background-color: black;
    color: white;
    margin:2rem;
    padding: 1rem;
    border-radius: 15px;
    justify-content: flex-end;
}

.nav-bar ul{
    display: flex;
}
.nav-bar ul {
    list-style: none;
    margin-right: 5rem;
}
.nav-bar ul  a{
    text-decoration: none;
    color: white;
    padding-left: 5rem;
    padding-right: 0.5rem;
}

.nav-bar ul a li:hover{
    text-decoration: none;
    color: rgb(4, 235, 228);
}
.nav-bar ul a li:active{
    text-decoration: none;
    color: rgb(4, 235, 244);
}
.page-content {
    display: flex;
    padding: 0 10px;
    min-height: 100vh;
    justify-content: center;
}

.wrapper {
    margin: 4rem;
    width: 430px;
    height: 450px;
    background: rgba(0, 0, 0, 0.897);
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgb(255, 255, 255);
    color: white;
}

.wrapper h1 {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}

.wrapper .content {
    margin: 25px 25px 35px;
}

.content .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input {
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
    border-radius: 5px;
    background: none;
    pointer-events: none;
    text-transform: uppercase;
    border: 1px solid #b5b5b5;
}

.typing-input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.inputs input:first-child {
    margin-left: 0px;
}

.content .details {
    margin: 20px 0 25px;
}

.details p {
    font-size: 19px;
    margin-bottom: 10px;
}

.content .reset-btn {
    width: 100%;
    border: none;
    cursor: pointer;
    color: #050101;
    outline: none;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    background: rgba(77, 233, 247, 0.929);;
    transition: all 0.3s ease;
}

.content .reset-btn:hover {
    background: rgba(255, 255, 255, 0.821);
    width: 98%;
}

.about{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.vid{
    margin: 0rem 5rem;
    width: 40%;
    height: 90%;
}

.info{
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5rem 5rem;
    padding: 5rem 4rem;
    width: 30%;
    height: 60%;
    font-size: 19px;
    box-shadow: 5px 5px 50px rgb(255, 255, 255);
}

.info i{
    color: white;
}

@media screen and (max-width: 460px) {
    .wrapper {
        width: 100%;
    }

    .wrapper h1 {
        font-size: 22px;
        padding: 16px 20px;
    }

    .wrapper .content {
        margin: 25px 20px 35px;
    }

    .inputs input {
        height: 51px;
        width: 50px;
        margin: 3px;
        font-size: 22px;
    }

    .details p {
        font-size: 17px;
    }

    .content .reset-btn {
        padding: 14px 0;
        font-size: 16px;
    }
}